<%- include('partials/header'); -%>

<header>
  <div class="authimage">
    <img src="/images.png" alt="">
  </div>
  <div class="headings">
    <h2>Authentication System</h2>
    <h3>MERN Stack</h3>
    <a href="/protected-page" class="btn">Protected Page</a>
  </div>
</header>


<%- include('partials/footer'); -%>