<%- include('partials/header'); -%>

<header>
  <div class="authimage">
    <img src="/download.png" alt="">
  </div>
  <div class="headings">
    <h2>Welcome, this is our Protected Page</h2>
  </div>
</header>

<%- include('partials/footer'); -%>